.statsTable {
  text-align: center;
  width: 100%;
  table-layout: fixed ;


  .table-data {
    font-size: 25px;
    font-weight: bold;
  }

  // a {
  //   text-decoration: none;
  //   color: black;
  // }

  .table-labels {

  }
}

